@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Pretendard";
    src: url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-gray-900 dark:bg-slate-900 dark:text-slate-200;
    @apply font-sans leading-relaxed;
  }
}

@layer components {
  .prose-custom {
    @apply prose prose-lg dark:prose-invert max-w-none;
    @apply prose-headings:font-bold prose-a:text-accent dark:prose-a:text-accent-dark;
    @apply prose-code:before:content-none prose-code:after:content-none;
    @apply prose-code:bg-gray-100 prose-code:dark:bg-slate-800 prose-code:px-1.5 prose-code:py-0.5 prose-code:rounded;
  }
}
